
@{
  Layout = "_Layout";
}


@using Factory.Models;
@model List<Factory.Models.Engineer>;


<h1>Engineers</h1>

@if (@Model.Count == 0)
{
  <p>No Engineers!</p>
}
<ul>
  @foreach(Engineer engineer in Model)
  {
    <li>@Html.ActionLink($"{engineer.EName}", "Details", new { id = engineer.EId })</li>
  }
</ul>

